h1{
	font-size:2em !important;
	padding-top:10px !important;
    margin-bottom:0 !important;
}
h2{
	font-size:1.6em !important;
}
h3{
	font-size:1.4em !important;
}
.row{
	margin:0 !important;
}
.table{
	width:95% !important;
	margin:auto;
}
.container_center{
	background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.container_center>div{
	padding: 0 0 20px 0;
}
.title_header{
	background-color:rgba(22, 123, 255, 0.52);
    border-bottom:1px solid rgba(0,0,0,.125);
}
.content_center{
	padding:20px;
}
.content_form{
	margin-bottom:30px;
}
.btn_save{
	padding-bottom:30px;
}
.btn_menu{
	color:#007bff;
	text-decoration:none !important;
	transition:all 0.8s;
}
.btn_menu:hover{
	color:#000000;
}
.fa-sign-in{
	position: absolute;
    top:15px;
    left:20%;
    font-size:2em !important;
    color:#007bff;
    transition:all 0.8s;
    transform: rotate(180deg);
}
.fa-sign-in:hover{
	color:#000000;
}
.section_hidden{
	display:none !important;
}
.card-header{
	background-color:rgba(22, 123, 255, 0.52) !important;
}
.content_message .close{
	padding:0.3rem 1rem 1rem 0rem !important;
}
.menu_hotel{
	margin-top:30px;
}
.menu_hotel i{
	font-size:2em;
}
.sinborde{
	border:none !important;
	margin-left:8px !important;
}
.close,.close_{
    background-color:red;
    color:#ffffff !important;
    padding:0 10px 6px 10px;
    border-radius:50%;
    font-size:2em !important;
    position:absolute;
    right:20px;
    margin-top:4px;
    opacity:0.8 !important;
    cursor: pointer;
    line-height:1.2;
}
.img-wrap,.img-wrap_{
    position: relative;
}
.img-wrap .close,.img-wrap_ .close_{
    position: absolute;
    top: 2px;
    right: 4px;
    z-index: 100;
}
.open-modal-reason{
	cursor:pointer;
}
#nuevo,.searched,.ocult{
	display:none;
}
.graficouno .col-sm-6{
	border-right:1px solid rgba(0,0,0,.125);
    border-top:1px solid rgba(0,0,0,.125);
    margin-top: 20px;
}
.graficouno .columnados{
	border-right: none;
    border-top:1px solid rgba(0,0,0,.125);
    margin-top: 20px;
}
#booking_select{
	display:none;
}
/*--------------------------------------------------------------
# gogle map size
--------------------------------------------------------------*/
#map{
  height: 350px;
}
#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}